<!DOCTYPE html>
<html lang="ru" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>

    <link rel="stylesheet" th:href="@{/styles/common.css}" />

    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.2/examples/sign-in/signin.css" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body style="padding-top: 0;flex-direction: column;align-items: unset">
<header th:insert="~{blocks/header :: header}"></header>
<main>
<!--    <form>-->
<!--        <input class="inpu" type="text" name="nick" value="username" th:value="${nick}"/>-->
<!--    </form>-->
<!--    HTML-->
    <form class="w-50 my-form" th:action="'/rest/usercard/' + ${id}" method="post">
        <div style="padding: 2rem">
            <div class="edit-btn" id="edit-btn" th:if="${canEdit}">
                <img onclick="toEditHandler(event)" th:disabled="!${canEdit}" disabled="true"
                 src="https://www.svgrepo.com/show/513824/edit.svg" width="32" height="32"/>
            </div>
            <div class="cancel-btn btn-hidden" id="cancel-btn" >
                <img onclick="cancelEditHandler(event)" th:disabled="!${canEdit}" disabled="true"
                     src="https://www.svgrepo.com/show/513872/x-circle.svg" width="32" height="32"
                     />
            </div>
            <div class="mb-3">
                <label for="nick" class="form-label">Nickname</label>
                <input th:value="${user.nick}" value="username" name="nick" type="text" class="form-control test-me" disabled id="nick" aria-describedby="nickHelp">
                <div id="nickHelp" class="form-text">It's unique</div>
            </div>
            <div class="mb-3">
                <label for="about" class="form-label">About</label>
                <textarea th:text="${user.about}" name="about" type="text" class="form-control  test-me" disabled id="about" > </textarea>  <!--TODO th:value to th:text-->
            </div>
            <div class="mb-3">
                <label for="birthday" class="form-label">Birthday</label>
                <input th:value="${user.birthday}" name="birthday" type="date" class="form-control test-me" disabled id="birthday">
            </div>
            <div class="mb-3">
                <label for="regdate" class="form-label">Regdate</label>
                <input th:value="${user.regdate}" name="regdate" type="date" class="form-control input-disabled-admin-only" disabled id="regdate">
            </div>
            <div class="mb-3 form-check">
                <input th:value="${user.isAdmin}" name="canEdit" type="checkbox" class="form-check-input input-disabled-admin-only" id="isAdmin" disabled>
                <label class="form-check-label" for="isAdmin">Is admin</label>
            </div>
        </div>
        <button id="form-btn" type="submit" class="my-btn green-btn btn-hidden water-btn w-100">Submit</button>
    </form>
<!--    make it with icon-->
<!--    <button onclick="cancelEditHandler(event)">another</button>-->
<!--    <button class="my-btn green-btn" onclick="toEditHandler(event)" th:disabled="${!isOwner}" disabled="true">some</button>-->


    <!-- Modal -->
    <div class="modal" id="cancelEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Changes not saved</h5>
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
                </div>
<!--                <div class="modal-body">-->
<!--                    ...-->
<!--                </div>-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="returnToEditHandler(event)">Go back</button>
                    <button type="button" class="btn btn-danger" onclick="location.reload()">I know</button>
                </div>
            </div>
        </div>
        <div class="darken" onclick="returnToEditHandler(event)"></div>
    </div>

</main>

</body>
<script th:inline="javascript">/*<![CDATA[*/
// const canEdit = true;
    const canEdit = /*[[${canEdit}]]*/ false;  // TODO check if admin viewing not is admin's usercard
    const isAdminWatching = /*[[${isAdminWatching}]]*/ false;
    const toEditHandler = (e) => {
        console.debug("to edit button pressed");
        console.debug(canEdit);
        // console.debug(isOwner);
        if(!canEdit)
            return;
        // enable submit button
        const btn = document.getElementById("form-btn");
        btn.classList.remove("btn-hidden")
        // btn.removeAttribute("disabled");

        // disable edit button and enable cancel button

        const edit_btn = document.getElementById("edit-btn");
        const cancel_btn = document.getElementById("cancel-btn");
        edit_btn.classList.add("btn-hidden");
        // btn.addAttribute("disabled");
        cancel_btn.classList.remove("btn-hidden");
        // btn.removeAttribute("disabled")

        // enable form inputs
        const toEnable = Array.from(document.getElementsByClassName("test-me"));
        console.debug(toEnable);
        // toEnable.forEach((el)=>el.classList.remove("input-disabled"));
        toEnable.forEach((el)=>el.removeAttribute("disabled"));

        if(!isAdminWatching)
            return;

        const toEnableAdminOnly = Array.from(document.getElementsByClassName("input-disabled-admin-only"));
        console.debug(toEnableAdminOnly);
        toEnableAdminOnly.forEach((el)=>{
            el.classList.remove("input-disabled-admin-only");
            el.removeAttribute("disabled");
        });
    }
/**
 * handle when user wants to go from Usercard editing, to Usecard viewing or cancel changes
 * @param e Event
 */
const cancelEditHandler = (e) => {
    console.debug("cancel edit button pressed");

    const modal = document.getElementById("cancelEditModal");
    modal.classList.add("modal-show");
    console.debug(modal);

        // location.reload();
    }
const returnToEditHandler = (e) =>{
    console.debug("returned to edit")
    const modal = document.getElementById("cancelEditModal");
    modal.classList.remove("modal-show");
}
/**
 * @deprecated
 * @param e
 */
const btnClickHandler = (e) => {
        console.log(e);
        // replace to get target and check classList
        // const btn = document.getElementById("green-btn");
        console.log(e.target);

        const btn = document.getElementById("form-btn");
        console.log(btn);
        e.target.textContent = "Another"
        btn.classList.remove("btn-hidden")

    }

/*]]>*/</script>
</html>