<div style="display: inline-flex" th:fragment="pager">
    <a th:if="${pageNumber} > 0" th:text="${pageNumber}-1" th:href="'/' + ${url} + '?p=' + (${pageNumber}-1)" class="ms-3"/>

    <a th:text="${pageNumber}" th:href="'/' + ${url} + '?p=' + ${pageNumber}" class="ms-3"/>

    <a th:if="${pageNumber}+1<${totalPages}" th:text="${pageNumber}+1" th:href="'/' + ${url} + '?p=' + (${pageNumber}+1)" class="ms-3"/>
    <a th:if="${pageNumber}+2<${totalPages}" th:text="${pageNumber}+2" th:href="'/' + ${url} + '?p=' + (${pageNumber}+2)" class="ms-3"/>
    <a th:if="${pageNumber}+3<${totalPages}" th:text="${pageNumber}+3" th:href="'/' + ${url} + '?p=' + (${pageNumber}+3)" class="ms-3"/>

</div>